@import "tailwindcss";

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable, .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
